<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <!--<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create An Account</h4>
      </div>-->
      <div class="modal-body">

				<form method="post">
          <div class='row'>
              <div class='col-sm-6 pad-adjust-right'>
                <div class="form-group">
      						<input type="text" class="form-control register-field" placeholder="First Name">
      					</div><!-- /.form-group -->
              </div>
              <div class='col-sm-6 pad-adjust-left'>
                <div class="form-group">
      						<input type="text" class="form-control register-field" placeholder="Last Name">
      					</div><!-- /.form-group -->
              </div>
          </div>



					<div class="form-group">
						<input type="text" class="form-control register-field" placeholder="Email">
					</div><!-- /.form-group -->

					<div class="form-group">
						<input type="text" class="form-control register-field" placeholder="Password">
					</div><!-- /.form-group -->
          <div class="form-group">
						<input type="text" class="form-control register-field" placeholder="Confirm Password">
					</div><!-- /.form-group -->
          <div class="form-group-btn">
						<button type="submit" class="btn btn-primary btn-stretch">Register</button>
					</div><!-- /.form-group-btn -->

          <div class="signup-or">
            <div class='or'>or</div>
            <hr class='hr-signup'>
          </div>

          <a href="#/login"><div class='btn-block-cstm facebook-button transition-bg'>
            <div class='facebook-icon'></div>Register With Facebook
          </div></a>

          <a href="#/login"><div class='btn-block-cstm google-button transition-border'>
            <div class='google-icon'></div>Register With Google
          </div></a>


				</form>
        <p> By registering with beachbroker.com you agree to the <a href="#">terms and conditions.</a></p>
          <div class="signup-or">
            <hr class='hr-signup'>
          </div>

        <div class="form-group-btn">
          <button type="submit" class="btn btn-primary btn-transparent pull-right">Back To Login</button>
        </div><!-- /.form-group-btn -->

      </div>
    </div>

  </div>
</div>
<div class="page-wrapper scrolly">






	<div class="dashboard-login-wrapper">
		<div class="dashboard-login-inner">





			<div class="dashboard-login-left">
				<h2>Please Sign In</h2>

				<form method="post">
					<div class="form-group">
						<label for="">Email</label>
						<input type="text" class="form-control">
					</div><!-- /.form-group -->

					<div class="form-group">
						<label for="">Password</label>
						<input type="text" class="form-control">
					</div><!-- /.form-group -->
          <div class="form-group-btn">
						<button type="submit" class="btn btn-primary pull-right btn-stretch">Sign In</button>
					</div><!-- /.form-group-btn -->

          <hr class='skinny'>

          <a href="#/login"><div class='btn-block-cstm facebook-button transition-bg'>
            <div class='facebook-icon'></div>Login With Facebook
          </div></a>

          <a href="#/login"><div class='btn-block-cstm google-button transition-border'>
            <div class='google-icon'></div>Login With Google
          </div></a>


				</form>



				<div class="dashboard-footer">
					<p>
						&copy; 2016 BeachBroker.com <br> All Rights reserved.
					</p>

					<ul>
						<li><a href="#">Did you forget password?</a></li>
						<li><a id="register">I don't have an account</a></li>
					</ul>
				</div><!-- /.dashboard-footer -->
			</div><!-- /.dashboard-login-left -->



			<div class="dashboard-login-right">
				<div class="dashboard-login-right-content">
					<a href="#/"><i class="fa fa-long-arrow-left"></i> Back To BeachBroker.com</a>

					<h1>Welcome To BeachBroker.com</h1>

					<h2>
						Mauris ut rutrum lacus. Donec vulputate, lorem et volutpat consectetur, sapien mauris consectetur sapien, eu sagittis dui quam id justo.
					</h2>
				</div><!-- /.dashboard-login-right-content -->
			</div><!-- /.dashboard-login-right -->
		</div><!-- /.dashboard-login -->
	</div><!-- /.dashboard-login -->
</div><!-- /.page-wrapper -->

<!--
<div class="customizer">
	<div class="customizer-content">
		<h2>Color Variant</h2>

		<ul>
			<li><a href="assets/css/villareal-turquoise.css" class="background-turquoise"></a></li>
			<li><a href="assets/css/villareal-orange.css" class="background-orange"></a></li>
			<li><a href="assets/css/villareal-orange-dark.css" class="background-orange-dark"></a></li>
			<li><a href="assets/css/villareal-purple.css" class="background-purple"></a></li>
			<li><a href="assets/css/villareal-cyan.css" class="background-cyan"></a></li>
			<li><a href="assets/css/villareal-teal.css" class="background-teal"></a></li>
			<li><a href="assets/css/villareal-magenta.css" class="background-magenta"></a></li>
			<li><a href="assets/css/villareal-green.css" class="background-green"></a></li>
			<li><a href="assets/css/villareal-green-dark.css" class="background-green-dark"></a></li>
			<li><a href="assets/css/villareal-red.css" class="background-red"></a></li>
			<li><a href="assets/css/villareal-brown.css" class="background-brown"></a></li>
			<li><a href="assets/css/villareal-blue.css" class="background-blue"></a></li>
			<li><a href="assets/css/villareal-blue-gray.css" class="background-blue-gray"></a></li>
			<li><a href="assets/css/villareal-yellow.css" class="background-yellow"></a></li>
		</ul>
	</div>

	<div class="customizer-title">
		<span><i class="fa fa-cog"></i> Customizer</span>
	</div>
</div>-->
