
	<div class="page-wrapper" ng-cloak>
		<div class="dashboard-wrapper">
			<div class="dashboard-sidebar">
				<div class="dashboard-title">
					<a href="#/">
						<div class="logo"></div> BeachBroker.com
					</a>

					<button class="navbar-toggler pull-xs-right hidden-lg-up" type="button" data-toggle="collapse" data-target=".dashboard-nav-primary">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
				</div><!-- /.dashboard-title -->

				<div class="dashboard-user hidden-md-down">
          <div class='editWrap'>
            <!--<div class='editOverlay'>
            </div>-->
  					<div class="dashboard-user-image" style="background-image: url('assets/img/UserProfile.png');">
  					</div><!-- /.dashboar-user-image -->
  					<strong>{{userData['firstName']}} {{userData['lastName']}}</strong>
            <a href="#/"><div class='edit'>Edit My Profile</div></a>
          </div>
				</div><!-- /.dashboard-user -->

				<div class="dashboard-nav-primary collapse navbar-toggleable-md">
					<ul class="nav nav-stacked">
						<li class="nav-item">
							<a href="#/dashboard" class="nav-link active">
								<i class="fa fa-building"></i> Properties
							</a>
						</li>
            <li class="nav-item">
              <a href="#/my-profile" class="nav-link">
                <i class="fa fa-user"></i> My Profile
              </a>
            </li>
						<li class="nav-item">
							<a href="dashboard-agents.html" class="nav-link ">
								<i class="fa fa-suitcase"></i> Agents
							</a>
						</li>

						<li class="nav-item">
							<a href="dashboard-agencies.html" class="nav-link ">
								<i class="fa fa-globe"></i> Agencies
							</a>

						<li class="nav-item">
							<a href="dashboard-users.html" class="nav-link ">
								<i class="fa fa-users"></i> Users
							</a>
						</li>

						<li class="nav-item">
							<a ng-click="logout()" class="nav-link">
								<i class="fa fa-sign-out"></i> Logout
							</a>
						</li>
					</ul>
				</div><!-- /.dashboard-nav-primary -->

				<div class="dashboard-text hidden-md-down">
					<h2>Do you need help?</h2>

					<p>
						If you have any questions, feel free to use our profile form. We will contact you as soon as possible.
					</p>
				</div><!-- /.dashboard-text -->

			</div><!-- /.dashboard-sidebar -->

			<div class="dashboard-content">
				<div class="container-fluid">
					<div class="dashboard-header">
						<h1>My Properties</h1>

						<a href="#/submit" class="btn btn-primary">Create New Property</a>
					</div><!-- /.dashboard-header -->

					<div class="dashboard-subheader">
						<h2>You have {{data.length}} properties listed.</h2>

						<!--<div class="dashboard-subheader-actions">
							<a href="#" class="btn btn-secondary"><i class="fa fa-filter"></i> Redefine Search Criteria</a><a href="#" class="btn btn-secondary"><i class="fa fa-times"></i> Remove All</a>
						</div>-->
					</div><!-- /.dashboard-header -->

					<div class="row">

	<div ng-repeat="x in data" class="col-md-6 col-lg-4 col-xl-3">
		<div class="listing-box">
    	<div class="listing-box-image" style="background-image: url({{serverUrl}}{{imageUrl}}{{x['idListing']}}/{{x['filePath']}})">


    		<span class="listing-box-image-links">
    			<a href="properties.html"><i class="fa fa-heart"></i> <span>Edit Property</span></a>
    			<a href="#/single-property/{{x['idListing']}}"><i class="fa fa-search"></i> <span>View Property</span></a>
    			<a href="properties-compare.html"><i class="fa fa-balance-scale"></i> <span>Compare property</span></a>
    		</span>
    	</div><!-- /.listing-box-image -->

    	<div class="listing-box-title">
    		<h2><a href="properties-detail-standard.html">{{x['streetNumber']}} {{x['streetName']}}</a></h2>
    		<h3>${{x['cost']}}</h3>
    	</div><!-- /.listing-box-title -->

    	<div class="listing-box-content">
    		<dl>
    			<!--<dt>Type</dt><dd>House</dd>-->
    			<dt>Location</dt><dd>{{x['state']}}</dd>
    			<dt>Area</dt><dd>{{x['sqft']}} sqft</dd>
    		</dl>
    	</div><!-- /.listing-box-cotntent -->
</div><!-- /.listing-box -->
	</div><!-- /.col-* -->




<div class="pagination-wrapper">
	<ul class="pagination">
		<li class="page-item disabled">
			<a class="page-link" href="#" aria-label="Previous">
				<span aria-hidden="true">&laquo;</span>
				<span class="sr-only">Previous</span>
			</a>
		</li>

		<li class="page-item active">
			<a class="page-link " href="#">1 <span class="sr-only">(current)</span></a>
		</li>

		<li class="page-item"><a class="page-link" href="#">2</a></li>

		<li class="page-item "><a class="page-link" href="#">3 </a></li>

		<li class="page-item"><a class="page-link" href="#">4</a></li>

		<li class="page-item"><a class="page-link" href="#">5</a></li>

		<li class="page-item">
			<a class="page-link" href="#" aria-label="Next">
				<span aria-hidden="true">&raquo;</span>
				<span class="sr-only">Next</span>
			</a>
		</li>
	</ul><!-- /.pagination -->
</div><!-- /.pagination-wrapper -->
					</div><!-- /.row -->
				</div><!-- /.container -->
			</div><!-- /.dashboard-content -->
		</div><!-- /.dashboard -->
	</div><!-- /.page-wrapper -->
