

<div class="cover-pull-top header-transparent">
<div class="page-wrapper">

<div class="header-wrapper" ng-include="'navbars/navbar-transparent.html'"></div>

    <div class="main-wrapper">
	    <div class="main">
	        <div class="main-inner">


	            <div class="content">
	                <div class="cover cover-center">
	<div class="cover-image"></div>

	<div class="cover-title">
		<div class="container">
			<div class="cover-title-inner">
				<h1>Find Your Next Beach Home</h1>

				<p>Search from over 2000 properties on the beach, worldwide.</p>
			</div><!-- /.cover-title-->

			<form>
				<div class="form-group col-sm-6">
					<div class="form-control main-form">
            <input class="form-control" vs-google-autocomplete
                   ng-model="address.fullAddress"
                   vs-street-number="address.streetNumber"
                   vs-street="address.streetName"
                   vs-city="address.city"
                   vs-state="address.state"
                   vs-country="address.country"
                   name="address"
                   type="text">
						<!--<option value="">Location</option>
						<option value="">New York</option>
						<option value="">Washington</option>-->
					</div>
				</div>

				<!--<div class="form-group col-sm-3">
					<select class="form-control">
						<option value="">Property Type</option>
						<option value="">Apartment</option>
						<option value="">Building Area</option>
						<option value="">Condo</option>
						<option value="">House</option>
						<option value="">Villa</option>
					</select>
				</div>-->

				<div class="form-group col-sm-2">
					<button class="btn btn-primary btn-block" ng-click="search()">Search</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="information-bar">
	<div class="container">
		<i class="fa fa-star"></i> Own a property on the beach? Create a <a href="#/login">free account</a>. to list it today!
	</div>
</div>

<div class="container">

	<div class="">
		<div class="background-white fullwidth">
	<div class="boxes">
		<div class="row">
			<div class="col-md-4">
				<div class="box">
					<div class="box-icon">
						<i class="fa fa-home"></i>
					</div>

					<div class="box-content">
						<h2>Own It</h2>
						<p>Search from over 2000 houses, condos, apartments, and townhomes for sale.</p>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="box">
					<div class="box-icon">
						<i class="fa fa-usd"></i>
					</div>

					<div class="box-content">
						<h2>Sell It</h2>
						<p>Have a property near the beach? Generate more leads by listing with us.</p>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="box">
					<div class="box-icon">
						<i class="fa fa-suitcase"></i>
					</div>

					<div class="box-content">
						<h2>Rent It</h2>
						<p>You can't actually rent yet.. But maybe one day you will be able to!</p>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

	</div>

	<div class="push-bottom">
		<div class="page-header">
	<h1>Popular Property Categories</h1>

	<p>
		Check the best property categories avaialable in our directory.
	</p>
</div>

<div class="categories">
	<div class="row">
		<div class="col-lg-8">
			<div class="row">
				<div class="col-sm-6">
					<div class="category" style="background-image: url('assets/img/main/main-1.jpeg');">
						<a href="properties.html" class="category-link">
							<span class="category-content">
								<span class="category-title">Houses</span>
								<span class="category-subtitle">30 submissions in directory</span>
								<span class="btn btn-primary">View List</span>
							</span>
						</a>
					</div>
				</div>

				<div class="col-sm-6">
					<div class="category" style="background-image: url('assets/img/main/main-4.jpg');">
						<a href="properties.html" class="category-link">
							<span class="category-content">
								<span class="category-title">Condos</span>
								<span class="category-subtitle">98 submissions in directory</span>
								<span class="btn btn-primary">View List</span>
							</span>
						</a>
					</div>
				</div>
			</div>

			<div class="category" style="background-image: url('assets/img/main/main-3.png');">
				<a href="properties.html" class="category-link">
					<span class="category-content">
						<span class="category-title">Townhomes</span>
						<span class="category-subtitle">312 submissions in directory</span>
						<span class="btn btn-primary">View List</span>
					</span>
				</a>
			</div>
		</div>

		<div class="col-lg-4">
			<div class="category category-vertical" style="background-image: url('assets/img/main/main-2.jpg');">
				<a href="properties.html" class="category-link">
					<span class="category-content">
						<span class="category-title">Apartments</span>
						<span class="category-subtitle">213 submissions in directory</span>
						<span class="btn btn-primary">View List</span>
					</span>
				</a>
			</div>
		</div>
	</div>
</div>
	</div>
</div>

<!--<div class="image-wrapper">
	<div class="container">
		<div class="row">
			<div class="image-description-wrapper col-md-12 col-lg-7">
				<div class="image-description">
					<h2>Real Estate Application Kit</h2>

					<p>
						Villareal is advanced real estate application kit. It is written upon Bootstrap 4 framework to offer best coding and user experience. It is easy to add or modify any part of the HTML template.
					</p>

					<a href="blog.html" class="btn btn-primary">View Blog Template</a>
				</div>
			</div>
		</div>
	</div>

	<div class="image-holder col-lg-5 col-lg-offset-7 hidden-md-down">
	</div>
</div>-->

<div class="container">
	<div class="page-header">
		<h2>Featured Properties</h2>
	</div>

	<div class="listing-box-wrapper listing-box-background">
	<div class="listing-carousel-wrapper">
		<div class="listing-carousel">

				<div class="listing-box">
	<div class="listing-box-image" style="background-image: url('assets/img/tmp/tmp-5.jpg')">
		<div class="listing-box-image-label">Featured</div>

		<span class="listing-box-image-links">
			<a href="properties.html"><i class="fa fa-heart"></i> <span>Add to favorites</span></a>
			<a href="properties-detail-standard.html"><i class="fa fa-search"></i> <span>View detail</span></a>
			<a href="properties-compare.html"><i class="fa fa-balance-scale"></i> <span>Compare property</span></a>
		</span>
	</div>

	<div class="listing-box-title">
		<h2><a href="properties-detail-standard.html">Bright Island Route</a></h2>
		<h3>$ 40.000</h3>
	</div>

	<div class="listing-box-content">
		<dl>
			<dt>Type</dt><dd>House</dd>
			<dt>Location</dt><dd>New York</dd>
			<dt>Area</dt><dd>180 sqft</dd>
		</dl>
	</div>
</div>

				<div class="listing-box">
	<div class="listing-box-image" style="background-image: url('assets/img/tmp/tmp-4.jpg')">
		<div class="listing-box-image-label">Featured</div>

		<span class="listing-box-image-links">
			<a href="properties.html"><i class="fa fa-heart"></i> <span>Add to favorites</span></a>
			<a href="properties-detail-standard.html"><i class="fa fa-search"></i> <span>View detail</span></a>
			<a href="properties-compare.html"><i class="fa fa-balance-scale"></i> <span>Compare property</span></a>
		</span>
	</div>

	<div class="listing-box-title">
		<h2><a href="properties-detail-standard.html">Misty Valley</a></h2>
		<h3>$ 27.000</h3>
	</div>

	<div class="listing-box-content">
		<dl>
			<dt>Type</dt><dd>House</dd>
			<dt>Location</dt><dd>New York</dd>
			<dt>Area</dt><dd>180 sqft</dd>
		</dl>
	</div>
</div>

				<div class="listing-box">
	<div class="listing-box-image" style="background-image: url('assets/img/tmp/tmp-11.jpg')">
		<div class="listing-box-image-label">Featured</div>

		<span class="listing-box-image-links">
			<a href="properties.html"><i class="fa fa-heart"></i> <span>Add to favorites</span></a>
			<a href="properties-detail-standard.html"><i class="fa fa-search"></i> <span>View detail</span></a>
			<a href="properties-compare.html"><i class="fa fa-balance-scale"></i> <span>Compare property</span></a>
		</span>
	</div>

	<div class="listing-box-title">
		<h2><a href="properties-detail-standard.html">Foggy Anchor Campus</a></h2>
		<h3>$ 840.000</h3>
	</div>

	<div class="listing-box-content">
		<dl>
			<dt>Type</dt><dd>House</dd>
			<dt>Location</dt><dd>New York</dd>
			<dt>Area</dt><dd>180 sqft</dd>
		</dl>
	</div>
</div>

				<div class="listing-box">
	<div class="listing-box-image" style="background-image: url('assets/img/tmp/tmp-10.jpg')">
		<div class="listing-box-image-label">Featured</div>

		<span class="listing-box-image-links">
			<a href="properties.html"><i class="fa fa-heart"></i> <span>Add to favorites</span></a>
			<a href="properties-detail-standard.html"><i class="fa fa-search"></i> <span>View detail</span></a>
			<a href="properties-compare.html"><i class="fa fa-balance-scale"></i> <span>Compare property</span></a>
		</span>
	</div>

	<div class="listing-box-title">
		<h2><a href="properties-detail-standard.html">Golden Fawn Thicket</a></h2>
		<h3>$ 321.000</h3>
	</div>

	<div class="listing-box-content">
		<dl>
			<dt>Type</dt><dd>House</dd>
			<dt>Location</dt><dd>New York</dd>
			<dt>Area</dt><dd>180 sqft</dd>
		</dl>
	</div>
</div>

				<div class="listing-box">
	<div class="listing-box-image" style="background-image: url('assets/img/tmp/tmp-3.jpg')">
		<div class="listing-box-image-label">Featured</div>

		<span class="listing-box-image-links">
			<a href="properties.html"><i class="fa fa-heart"></i> <span>Add to favorites</span></a>
			<a href="properties-detail-standard.html"><i class="fa fa-search"></i> <span>View detail</span></a>
			<a href="properties-compare.html"><i class="fa fa-balance-scale"></i> <span>Compare property</span></a>
		</span>
	</div>

	<div class="listing-box-title">
		<h2><a href="properties-detail-standard.html">Little Brook Court</a></h2>
		<h3>$ 800 / per week</h3>
	</div>

	<div class="listing-box-content">
		<dl>
			<dt>Type</dt><dd>House</dd>
			<dt>Location</dt><dd>New York</dd>
			<dt>Area</dt><dd>180 sqft</dd>
		</dl>
	</div>
</div>

				<div class="listing-box">
	<div class="listing-box-image" style="background-image: url('assets/img/tmp/tmp-2.jpg')">
		<div class="listing-box-image-label">Featured</div><

		<span class="listing-box-image-links">
			<a href="properties.html"><i class="fa fa-heart"></i> <span>Add to favorites</span></a>
			<a href="properties-detail-standard.html"><i class="fa fa-search"></i> <span>View detail</span></a>
			<a href="properties-compare.html"><i class="fa fa-balance-scale"></i> <span>Compare property</span></a>
		</span>
	</div>

	<div class="listing-box-title">
		<h2><a href="properties-detail-standard.html">Quiet Parade</a></h2>
		<h3>$ 256.000</h3>
	</div>

	<div class="listing-box-content">
		<dl>
			<dt>Type</dt><dd>House</dd>
			<dt>Location</dt><dd>New York</dd>
			<dt>Area</dt><dd>180 sqft</dd>
		</dl>
	</div>
</div>

				<div class="listing-box">
	<div class="listing-box-image" style="background-image: url('assets/img/tmp/tmp-1.jpg')">
		<div class="listing-box-image-label">Featured</div>

		<span class="listing-box-image-links">
			<a href="properties.html"><i class="fa fa-heart"></i> <span>Add to favorites</span></a>
			<a href="properties-detail-standard.html"><i class="fa fa-search"></i> <span>View detail</span></a>
			<a href="properties-compare.html"><i class="fa fa-balance-scale"></i> <span>Compare property</span></a>
		</span>
	</div>

	<div class="listing-box-title">
		<h2><a href="properties-detail-standard.html">Fallen Rise Parkway</a></h2>
		<h3>$ 1200 / per week</h3>
	</div>

	<div class="listing-box-content">
		<dl>
			<dt>Type</dt><dd>House</dd>
			<dt>Location</dt><dd>New York</dd>
			<dt>Area</dt><dd>180 sqft</dd>
		</dl>
	</div>
</div>

				<div class="listing-box">
	<div class="listing-box-image" style="background-image: url('assets/img/tmp/tmp-8.jpg')">
		<div class="listing-box-image-label">Featured</div>

		<span class="listing-box-image-links">
			<a href="properties.html"><i class="fa fa-heart"></i> <span>Add to favorites</span></a>
			<a href="properties-detail-standard.html"><i class="fa fa-search"></i> <span>View detail</span></a>
			<a href="properties-compare.html"><i class="fa fa-balance-scale"></i> <span>Compare property</span></a>
		</span>
	</div>

	<div class="listing-box-title">
		<h2><a href="properties-detail-standard.html">Hidden Trace</a></h2>
		<h3>$ 340.000</h3>
	</div>

	<div class="listing-box-content">
		<dl>
			<dt>Type</dt><dd>House</dd>
			<dt>Location</dt><dd>New York</dd>
			<dt>Area</dt><dd>180 sqft</dd>
		</dl>
	</div>
</div>

		</div>
	</div>
</div>

</div>
	            </div>
	        </div>
	    </div>
    </div>

<div class="container">
    <div class="call-to-action">
	<div class="call-to-action-inner">
		<div class="call-to-action-title">
			<div class="logo logo-larger"></div>
			<h1>Contact BeachBroker.com</h1>
			<h2>Interested in publishing your property on our website?</h2>
		</div>

		<a href="#" class="btn btn-primary">Contact Us</a>
	</div>
</div>
</div>

<div class="footer-wrapper">
	<div class="container">
		<div class="footer-inner">
			<div class="footer-top">
				<div class="footer-top-left">
					<h2>BeachBroker Real Estate</h2>

					<p>
						BeachBroker is a website dedicated to the listing of properties on the beach. Get as close to the sand as you want with our shoreline distance search tool.
					</p>

					<div class="social">
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-linkedin"></i></a>
						<a href="#"><i class="fa fa-envelope"></i></a>
						<a href="#"><i class="fa fa-instagram"></i></a>
					</div>
				</div>

				<div class="footer-top-right">
					<h2>Subscribe To Newsletter</h2>

					<form method="post" action="?">
						<div class="input-group">
							<input type="email" class="form-control" placeholder="Your e-mail address">
							<span class="input-group-btn">
								<button class="btn btn-primary" type="submit">Subscribe</button>
							</span>
						</div>
					</form>

					<p>
						* We promise that we will not send you spam messages.
					</p>
				</div>
			</div>

			<div class="footer-bottom">
				<div class="footer-left">
					&copy; 2016 BeachBroker.com. All Rights reserved.
				</div>

				<div class="footer-right">
					<ul class="nav nav-pills">
						<li class="nav-item"><a href="pricing.html" class="nav-link">Pricing</a></li>
						<li class="nav-item"><a href="terms-conditions.html" class="nav-link">Terms &amp; Conditions</a></li>
						<li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>

<!--<div class="customizer">
 <div class="customizer-content">
   <h2>Color Variant</h2>

   <ul>
     <li><a href="assets/css/villareal-turquoise.css" class="background-turquoise"></a></li>
     <li><a href="assets/css/villareal-orange.css" class="background-orange"></a></li>
     <li><a href="assets/css/villareal-orange-dark.css" class="background-orange-dark"></a></li>
     <li><a href="assets/css/villareal-purple.css" class="background-purple"></a></li>
     <li><a href="assets/css/villareal-cyan.css" class="background-cyan"></a></li>
     <li><a href="assets/css/villareal-teal.css" class="background-teal"></a></li>
     <li><a href="assets/css/villareal-magenta.css" class="background-magenta"></a></li>
     <li><a href="assets/css/villareal-green.css" class="background-green"></a></li>
     <li><a href="assets/css/villareal-green-dark.css" class="background-green-dark"></a></li>
     <li><a href="assets/css/villareal-red.css" class="background-red"></a></li>
     <li><a href="assets/css/villareal-brown.css" class="background-brown"></a></li>
     <li><a href="assets/css/villareal-blue.css" class="background-blue"></a></li>
     <li><a href="assets/css/villareal-blue-gray.css" class="background-blue-gray"></a></li>
     <li><a href="assets/css/villareal-yellow.css" class="background-yellow"></a></li>
   </ul>
 </div>

 <div class="customizer-title">
   <span><i class="fa fa-cog"></i> Customizer</span>
 </div>
</div>-->
