
<div class="page-wrapper">

    	<div class="header-wrapper" ng-include="'navbars/navbar-primary.html'"> </div><!-- /.header-wrapper-->


    <div class="main-wrapper">
	    <div class="main">
	        <div class="main-inner">


	            <div class="content">
	                <div class="container-fluid fullwidth-wrapper">
	<div class="row">
		<div class="col-sm-6">
			<div class="filter filter-gray push-bottom">
				<form method="get" action="?">
					<div class="row">
	<div class="col-md-3">
		<div class="form-group">
			<label>Location</label>

			<select class="form-control">
				<option>New York</option>
				<option>Washington</option>
			</select>
		</div><!-- /.form-group -->
	</div><!-- /.col-* -->

	<div class="col-md-3">
		<div class="form-group">
			<label>Keyword</label>
			<input type="text" class="form-control">
		</div><!-- /.form-group -->
	</div><!-- /.col-* -->

	<div class="col-md-2">
		<div class="form-group">
			<label>Price From</label>
			<input type="text" class="form-control">
		</div><!-- /.form-group -->
	</div><!-- /.col-* -->

	<div class="col-md-2">
		<div class="form-group">
			<label>Price To</label>
			<input type="text" class="form-control">
		</div><!-- /.form-group -->
	</div><!-- /.col-* -->

	<div class="col-md-2">
		<div class="form-group-btn form-group-btn-placeholder-gap">
			<button type="submit" class="btn btn-primary btn-block">Filter</button>
		</div><!-- /.form-group -->
	</div><!-- /.col-* -->
</div><!-- /.row -->
					<div class="row filter-options">
	<div class="col-sm-6">
		<div class="filter-sort">
			<strong>Sort By</strong>

			<div class="checkbox-inline">
				<label><input type="checkbox" name="filter-form-order" checked="checked"> Price</label>
			</div><!-- /.checkbox -->

			<div class="checkbox-inline">
				<label><input type="checkbox" name="filter-form-order" checked="checked"> Published</label>
			</div><!-- /.checkbox -->
		</div><!-- /.filter-sort -->
	</div><!-- /.row -->

	<div class="col-sm-6">
		<div class="filter-order">
			<strong>Order By</strong>

			<div class="checkbox-inline">
				<label><input type="radio" name="filter-form-order" checked="checked"> Asc</label>
			</div><!-- /.checkbox -->

			<div class="checkbox-inline">
				<label><input type="radio" name="filter-form-order"> Desc</label>
			</div><!-- /.checkbox -->
		</div><!-- /.filter-order -->
	</div><!-- /.col-* -->
</div><!-- /.row -->
				</form>
			</div><!-- /.filter -->


				<div class="listing-row">
	<div class="listing-row-inner">
		<div class="listing-row-image" style="background-image: url('assets/img/tmp/tmp-5.jpg');">
			<span class="listing-row-image-links">
				<a href="properties.html"><i class="fa fa-heart"></i> <span>Add to favorites</span></a>
				<a href="properties-detail-standard.html"><i class="fa fa-search"></i> <span>View detail</span></a>
				<a href="properties-compare.html"><i class="fa fa-balance-scale"></i> <span>Compare property</span></a>
			</span>
		</div>

		<div class="listing-row-content">
			<h3><a href="properties-detail-standard.html">Bright Island Route</a></h3>
			<h4>$ 40.000</h4>

			<ul class="listing-row-attributes">
				<li>
					<strong><i class="fa fa-map-marker"></i> City</strong>
					<span>New York</span>
				</li>

				<li>
					<strong><i class="fa fa-building"></i> Type</strong>
					<span>House</span>
				</li>

				<li>
					<strong><i class="fa fa-certificate"></i> Status</strong>
					<span>Rent</span>
				</li>

				<li>
					<strong><i class="fa fa-arrows-alt"></i> Area</strong>
					<span>180 sqft</span>
				</li>

				<li>
					<strong><i class="fa fa-umbrella"></i> Baths</strong>
					<span>3</span>
				</li>

				<li>
					<strong><i class="fa fa-bed"></i> Bedrooms</strong>
					<span>5</span>
				</li>
			</ul>
		</div><!-- /.listing-row-content -->
	</div><!-- /.listing-row-inner -->
</div><!-- /.listing-row -->

				<div class="listing-row">
	<div class="listing-row-inner">
		<div class="listing-row-image" style="background-image: url('assets/img/tmp/tmp-4.jpg');">
			<span class="listing-row-image-links">
				<a href="properties.html"><i class="fa fa-heart"></i> <span>Add to favorites</span></a>
				<a href="properties-detail-standard.html"><i class="fa fa-search"></i> <span>View detail</span></a>
				<a href="properties-compare.html"><i class="fa fa-balance-scale"></i> <span>Compare property</span></a>
			</span>
		</div>

		<div class="listing-row-content">
			<h3><a href="properties-detail-standard.html">Misty Valley</a></h3>
			<h4>$ 27.000</h4>

			<ul class="listing-row-attributes">
				<li>
					<strong><i class="fa fa-map-marker"></i> City</strong>
					<span>New York</span>
				</li>

				<li>
					<strong><i class="fa fa-building"></i> Type</strong>
					<span>House</span>
				</li>

				<li>
					<strong><i class="fa fa-certificate"></i> Status</strong>
					<span>Rent</span>
				</li>

				<li>
					<strong><i class="fa fa-arrows-alt"></i> Area</strong>
					<span>180 sqft</span>
				</li>

				<li>
					<strong><i class="fa fa-umbrella"></i> Baths</strong>
					<span>3</span>
				</li>

				<li>
					<strong><i class="fa fa-bed"></i> Bedrooms</strong>
					<span>5</span>
				</li>
			</ul>
		</div><!-- /.listing-row-content -->
	</div><!-- /.listing-row-inner -->
</div><!-- /.listing-row -->

				<div class="listing-row">
	<div class="listing-row-inner">
		<div class="listing-row-image" style="background-image: url('assets/img/tmp/tmp-11.jpg');">
			<span class="listing-row-image-links">
				<a href="properties.html"><i class="fa fa-heart"></i> <span>Add to favorites</span></a>
				<a href="properties-detail-standard.html"><i class="fa fa-search"></i> <span>View detail</span></a>
				<a href="properties-compare.html"><i class="fa fa-balance-scale"></i> <span>Compare property</span></a>
			</span>
		</div>

		<div class="listing-row-content">
			<h3><a href="properties-detail-standard.html">Foggy Anchor Campus</a></h3>
			<h4>$ 840.000</h4>

			<ul class="listing-row-attributes">
				<li>
					<strong><i class="fa fa-map-marker"></i> City</strong>
					<span>New York</span>
				</li>

				<li>
					<strong><i class="fa fa-building"></i> Type</strong>
					<span>House</span>
				</li>

				<li>
					<strong><i class="fa fa-certificate"></i> Status</strong>
					<span>Rent</span>
				</li>

				<li>
					<strong><i class="fa fa-arrows-alt"></i> Area</strong>
					<span>180 sqft</span>
				</li>

				<li>
					<strong><i class="fa fa-umbrella"></i> Baths</strong>
					<span>3</span>
				</li>

				<li>
					<strong><i class="fa fa-bed"></i> Bedrooms</strong>
					<span>5</span>
				</li>
			</ul>
		</div><!-- /.listing-row-content -->
	</div><!-- /.listing-row-inner -->
</div><!-- /.listing-row -->

				<div class="listing-row">
	<div class="listing-row-inner">
		<div class="listing-row-image" style="background-image: url('assets/img/tmp/tmp-10.jpg');">
			<span class="listing-row-image-links">
				<a href="properties.html"><i class="fa fa-heart"></i> <span>Add to favorites</span></a>
				<a href="properties-detail-standard.html"><i class="fa fa-search"></i> <span>View detail</span></a>
				<a href="properties-compare.html"><i class="fa fa-balance-scale"></i> <span>Compare property</span></a>
			</span>
		</div>

		<div class="listing-row-content">
			<h3><a href="properties-detail-standard.html">Golden Fawn Thicket</a></h3>
			<h4>$ 321.000</h4>

			<ul class="listing-row-attributes">
				<li>
					<strong><i class="fa fa-map-marker"></i> City</strong>
					<span>New York</span>
				</li>

				<li>
					<strong><i class="fa fa-building"></i> Type</strong>
					<span>House</span>
				</li>

				<li>
					<strong><i class="fa fa-certificate"></i> Status</strong>
					<span>Rent</span>
				</li>

				<li>
					<strong><i class="fa fa-arrows-alt"></i> Area</strong>
					<span>180 sqft</span>
				</li>

				<li>
					<strong><i class="fa fa-umbrella"></i> Baths</strong>
					<span>3</span>
				</li>

				<li>
					<strong><i class="fa fa-bed"></i> Bedrooms</strong>
					<span>5</span>
				</li>
			</ul>
		</div><!-- /.listing-row-content -->
	</div><!-- /.listing-row-inner -->
</div><!-- /.listing-row -->

				<div class="listing-row">
	<div class="listing-row-inner">
		<div class="listing-row-image" style="background-image: url('assets/img/tmp/tmp-3.jpg');">
			<span class="listing-row-image-links">
				<a href="properties.html"><i class="fa fa-heart"></i> <span>Add to favorites</span></a>
				<a href="properties-detail-standard.html"><i class="fa fa-search"></i> <span>View detail</span></a>
				<a href="properties-compare.html"><i class="fa fa-balance-scale"></i> <span>Compare property</span></a>
			</span>
		</div>

		<div class="listing-row-content">
			<h3><a href="properties-detail-standard.html">Little Brook Court</a></h3>
			<h4>$ 800 / per week</h4>

			<ul class="listing-row-attributes">
				<li>
					<strong><i class="fa fa-map-marker"></i> City</strong>
					<span>New York</span>
				</li>

				<li>
					<strong><i class="fa fa-building"></i> Type</strong>
					<span>House</span>
				</li>

				<li>
					<strong><i class="fa fa-certificate"></i> Status</strong>
					<span>Rent</span>
				</li>

				<li>
					<strong><i class="fa fa-arrows-alt"></i> Area</strong>
					<span>180 sqft</span>
				</li>

				<li>
					<strong><i class="fa fa-umbrella"></i> Baths</strong>
					<span>3</span>
				</li>

				<li>
					<strong><i class="fa fa-bed"></i> Bedrooms</strong>
					<span>5</span>
				</li>
			</ul>
		</div><!-- /.listing-row-content -->
	</div><!-- /.listing-row-inner -->
</div><!-- /.listing-row -->

				<div class="listing-row">
	<div class="listing-row-inner">
		<div class="listing-row-image" style="background-image: url('assets/img/tmp/tmp-2.jpg');">
			<span class="listing-row-image-links">
				<a href="properties.html"><i class="fa fa-heart"></i> <span>Add to favorites</span></a>
				<a href="properties-detail-standard.html"><i class="fa fa-search"></i> <span>View detail</span></a>
				<a href="properties-compare.html"><i class="fa fa-balance-scale"></i> <span>Compare property</span></a>
			</span>
		</div>

		<div class="listing-row-content">
			<h3><a href="properties-detail-standard.html">Quiet Parade</a></h3>
			<h4>$ 256.000</h4>

			<ul class="listing-row-attributes">
				<li>
					<strong><i class="fa fa-map-marker"></i> City</strong>
					<span>New York</span>
				</li>

				<li>
					<strong><i class="fa fa-building"></i> Type</strong>
					<span>House</span>
				</li>

				<li>
					<strong><i class="fa fa-certificate"></i> Status</strong>
					<span>Rent</span>
				</li>

				<li>
					<strong><i class="fa fa-arrows-alt"></i> Area</strong>
					<span>180 sqft</span>
				</li>

				<li>
					<strong><i class="fa fa-umbrella"></i> Baths</strong>
					<span>3</span>
				</li>

				<li>
					<strong><i class="fa fa-bed"></i> Bedrooms</strong>
					<span>5</span>
				</li>
			</ul>
		</div><!-- /.listing-row-content -->
	</div><!-- /.listing-row-inner -->
</div><!-- /.listing-row -->


			<div class="center">
				<a href="#" class="btn btn-secondary">Load More Properties</a>
			</div><!-- /.center -->
		</div><!-- /.col-* -->

		<div class="col-sm-6">
			<div id="map-leaflet" class="full"></div>
		</div><!-- /.col-* -->
	</div><!-- /.row -->
</div><!-- /.container -->
	            </div><!-- /.content -->
	        </div><!-- /.main-inner -->
	    </div><!-- /.main -->
    </div><!-- /.main-wrapper -->
</div><!-- /.page-wrapper -->
