
<div class="page-wrapper">

	 <div class="header-wrapper" ng-include="'navbars/navbar-primary.html'"> </div><!-- /.header-wrapper-->


    <div class="main-wrapper  fixed-wrapper">
			<div class='row height-100'>
				<div class='col-sm-6 height-100 padding-0'>
					<div class="filter filter-gray">
						<form method="get">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label>Location</label>

										<input class="form-control" vs-google-autocomplete
													 ng-model="address.fullAddress"
													 vs-street-number="address.streetNumber"
				                   vs-street="address.streetName"
				                   vs-city="address.city"
				                   vs-state="address.state"
				                   vs-country="address.country"
				                   vs-post-code="address.zipcode"
													 name="address"
													 type="text">
									</div>
								</div>
								<div class='col-md-6'>
									<div class="form-group">
										<label>Meters From The Shoreline</label>
										<!--<input type="number" class="form-control" ng-model="beachDistance">-->
										<input type="range" class="" id="myRange" value="0" ng-model="beachDistance">
										<h1>{{beachDistance}}</h1>
									</div>
								</div>
							</div>
							<div class='row'>
								<div class="col-md-2">
									<div class="form-group">
										<label>Price From</label>
										<input type="text" class="form-control">
									</div>
								</div>

								<div class="col-md-2">
									<div class="form-group">
										<label>Price To</label>
										<input type="text" class="form-control">
									</div>
								</div>

								<div class="col-md-2">
									<div class="form-group-btn form-group-btn-placeholder-gap">
										<button type="" class="btn btn-primary btn-block" ng-click="searchProperties()">Filter</button>
									</div>
								</div>
							</div>
						</form>
				</div>
				<div class='search-results'>
					Showing {{listings.length}} <span ng-if="listings.length==1">result</span>
					<span ng-if="listings.length < 1 || listings.length > 1">results</span>  for search "{{searchString}}"
				</div>
				<div class='listings-scroll'>
				<div ng-repeat='x in listings'  class="listing-row">
					<div class="listing-row-inner">
						<div class="listing-row-image" style="background-image: url({{serverUrl}}{{imageUrl}}{{x['idListing']}}/{{x['filePath']}});">
							<span class="listing-row-image-links">
								<a href="properties.html"><i class="fa fa-heart"></i> <span>Add to favorites</span></a>
								<a href="#single-property/{{x['idListing']}}"><i class="fa fa-search"></i> <span>View detail</span></a>
								<a href="properties-compare.html"><i class="fa fa-balance-scale"></i> <span>Compare property</span></a>
							</span>
						</div>

						<div class="listing-row-content">
							<h3><a href="#single-property/{{x['idListing']}}">{{x['streetNumber']}} {{x['streetName']}}</a></h3>
							<h4>{{x['cost'] | currency}}</h4>

							<ul class="listing-row-attributes">
								<li>
									<strong><i class="fa fa-map-marker"></i> City</strong>
									<span>{{x['city']}}</span>
								</li>

								<li>
									<strong><i class="fa fa-building"></i> Type</strong>
									<span>{{x['homeType']}}</span>
								</li>


								<li>
									<strong><i class="fa fa-arrows-alt"></i> Area</strong>
									<span>{{x['sqft']}} sqft</span>
								</li>

								<li>
									<strong><i class="fa fa-umbrella"></i> Baths</strong>
									<span>{{x['baths']}}</span>
								</li>

								<li>
									<strong><i class="fa fa-bed"></i> Bedrooms</strong>
									<span>{{x['beds']}}</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
				</div>


			</div>
				<div class='col-sm-6 height-100 padding-0'>
					<div id="map-leaflet" class="full"></div>
				</div>
			</div>








	                <!--<div class="container-fluid fullwidth-wrapper">
	<div class="row">
		<div class="col-sm-6">
			<div class="filter filter-gray push-bottom">
				<form method="get" action="?">
					<div class="row">
	<div class="col-md-3">
		<div class="form-group">
			<label>Location</label>

			<select class="form-control">
				<option>New York</option>
				<option>Washington</option>
			</select>
		</div>
	</div>

	<div class="col-md-3">
		<div class="form-group">
			<label>Keyword</label>
			<input type="text" class="form-control">
		</div>
	</div>

	<div class="col-md-2">
		<div class="form-group">
			<label>Price From</label>
			<input type="text" class="form-control">
		</div>
	</div>

	<div class="col-md-2">
		<div class="form-group">
			<label>Price To</label>
			<input type="text" class="form-control">
		</div>
	</div>

	<div class="col-md-2">
		<div class="form-group-btn form-group-btn-placeholder-gap">
			<button type="submit" class="btn btn-primary btn-block">Filter</button>
		</div>
	</div>
</div>
					<div class="row filter-options">
	<div class="col-sm-6">
		<div class="filter-sort">
			<strong>Sort By</strong>

			<div class="checkbox-inline">
				<label><input type="checkbox" name="filter-form-order" checked="checked"> Price</label>
			</div>

			<div class="checkbox-inline">
				<label><input type="checkbox" name="filter-form-order" checked="checked"> Published</label>
			</div>
		</div>
	</div>

	<div class="col-sm-6">
		<div class="filter-order">
			<strong>Order By</strong>

			<div class="checkbox-inline">
				<label><input type="radio" name="filter-form-order" checked="checked"> Asc</label>
			</div>

			<div class="checkbox-inline">
				<label><input type="radio" name="filter-form-order"> Desc</label>
			</div>
		</div>
	</div>
</div>
				</form>
			</div>


				<div class="listing-row">
	<div class="listing-row-inner">
		<div class="listing-row-image" style="background-image: url('assets/img/tmp/tmp-5.jpg');">
			<span class="listing-row-image-links">
				<a href="properties.html"><i class="fa fa-heart"></i> <span>Add to favorites</span></a>
				<a href="properties-detail-standard.html"><i class="fa fa-search"></i> <span>View detail</span></a>
				<a href="properties-compare.html"><i class="fa fa-balance-scale"></i> <span>Compare property</span></a>
			</span>
		</div>

		<div class="listing-row-content">
			<h3><a href="properties-detail-standard.html">Bright Island Route</a></h3>
			<h4>$ 40.000</h4>

			<ul class="listing-row-attributes">
				<li>
					<strong><i class="fa fa-map-marker"></i> City</strong>
					<span>New York</span>
				</li>

				<li>
					<strong><i class="fa fa-building"></i> Type</strong>
					<span>House</span>
				</li>

				<li>
					<strong><i class="fa fa-certificate"></i> Status</strong>
					<span>Rent</span>
				</li>

				<li>
					<strong><i class="fa fa-arrows-alt"></i> Area</strong>
					<span>180 sqft</span>
				</li>

				<li>
					<strong><i class="fa fa-umbrella"></i> Baths</strong>
					<span>3</span>
				</li>

				<li>
					<strong><i class="fa fa-bed"></i> Bedrooms</strong>
					<span>5</span>
				</li>
			</ul>
		</div>
	</div>
</div>

				<div class="listing-row">
	<div class="listing-row-inner">
		<div class="listing-row-image" style="background-image: url('assets/img/tmp/tmp-4.jpg');">
			<span class="listing-row-image-links">
				<a href="properties.html"><i class="fa fa-heart"></i> <span>Add to favorites</span></a>
				<a href="properties-detail-standard.html"><i class="fa fa-search"></i> <span>View detail</span></a>
				<a href="properties-compare.html"><i class="fa fa-balance-scale"></i> <span>Compare property</span></a>
			</span>
		</div>

		<div class="listing-row-content">
			<h3><a href="properties-detail-standard.html">Misty Valley</a></h3>
			<h4>$ 27.000</h4>

			<ul class="listing-row-attributes">
				<li>
					<strong><i class="fa fa-map-marker"></i> City</strong>
					<span>New York</span>
				</li>

				<li>
					<strong><i class="fa fa-building"></i> Type</strong>
					<span>House</span>
				</li>

				<li>
					<strong><i class="fa fa-certificate"></i> Status</strong>
					<span>Rent</span>
				</li>

				<li>
					<strong><i class="fa fa-arrows-alt"></i> Area</strong>
					<span>180 sqft</span>
				</li>

				<li>
					<strong><i class="fa fa-umbrella"></i> Baths</strong>
					<span>3</span>
				</li>

				<li>
					<strong><i class="fa fa-bed"></i> Bedrooms</strong>
					<span>5</span>
				</li>
			</ul>
		</div>
	</div>
</div>

				<div class="listing-row">
	<div class="listing-row-inner">
		<div class="listing-row-image" style="background-image: url('assets/img/tmp/tmp-11.jpg');">
			<span class="listing-row-image-links">
				<a href="properties.html"><i class="fa fa-heart"></i> <span>Add to favorites</span></a>
				<a href="properties-detail-standard.html"><i class="fa fa-search"></i> <span>View detail</span></a>
				<a href="properties-compare.html"><i class="fa fa-balance-scale"></i> <span>Compare property</span></a>
			</span>
		</div>

		<div class="listing-row-content">
			<h3><a href="properties-detail-standard.html">Foggy Anchor Campus</a></h3>
			<h4>$ 840.000</h4>

			<ul class="listing-row-attributes">
				<li>
					<strong><i class="fa fa-map-marker"></i> City</strong>
					<span>New York</span>
				</li>

				<li>
					<strong><i class="fa fa-building"></i> Type</strong>
					<span>House</span>
				</li>

				<li>
					<strong><i class="fa fa-certificate"></i> Status</strong>
					<span>Rent</span>
				</li>

				<li>
					<strong><i class="fa fa-arrows-alt"></i> Area</strong>
					<span>180 sqft</span>
				</li>

				<li>
					<strong><i class="fa fa-umbrella"></i> Baths</strong>
					<span>3</span>
				</li>

				<li>
					<strong><i class="fa fa-bed"></i> Bedrooms</strong>
					<span>5</span>
				</li>
			</ul>
		</div>
	</div>
</div>

				<div class="listing-row">
	<div class="listing-row-inner">
		<div class="listing-row-image" style="background-image: url('assets/img/tmp/tmp-10.jpg');">
			<span class="listing-row-image-links">
				<a href="properties.html"><i class="fa fa-heart"></i> <span>Add to favorites</span></a>
				<a href="properties-detail-standard.html"><i class="fa fa-search"></i> <span>View detail</span></a>
				<a href="properties-compare.html"><i class="fa fa-balance-scale"></i> <span>Compare property</span></a>
			</span>
		</div>

		<div class="listing-row-content">
			<h3><a href="properties-detail-standard.html">Golden Fawn Thicket</a></h3>
			<h4>$ 321.000</h4>

			<ul class="listing-row-attributes">
				<li>
					<strong><i class="fa fa-map-marker"></i> City</strong>
					<span>New York</span>
				</li>

				<li>
					<strong><i class="fa fa-building"></i> Type</strong>
					<span>House</span>
				</li>

				<li>
					<strong><i class="fa fa-certificate"></i> Status</strong>
					<span>Rent</span>
				</li>

				<li>
					<strong><i class="fa fa-arrows-alt"></i> Area</strong>
					<span>180 sqft</span>
				</li>

				<li>
					<strong><i class="fa fa-umbrella"></i> Baths</strong>
					<span>3</span>
				</li>

				<li>
					<strong><i class="fa fa-bed"></i> Bedrooms</strong>
					<span>5</span>
				</li>
			</ul>
		</div>
	</div>
</div>

				<div class="listing-row">
	<div class="listing-row-inner">
		<div class="listing-row-image" style="background-image: url('assets/img/tmp/tmp-3.jpg');">
			<span class="listing-row-image-links">
				<a href="properties.html"><i class="fa fa-heart"></i> <span>Add to favorites</span></a>
				<a href="properties-detail-standard.html"><i class="fa fa-search"></i> <span>View detail</span></a>
				<a href="properties-compare.html"><i class="fa fa-balance-scale"></i> <span>Compare property</span></a>
			</span>
		</div>

		<div class="listing-row-content">
			<h3><a href="properties-detail-standard.html">Little Brook Court</a></h3>
			<h4>$ 800 / per week</h4>

			<ul class="listing-row-attributes">
				<li>
					<strong><i class="fa fa-map-marker"></i> City</strong>
					<span>New York</span>
				</li>

				<li>
					<strong><i class="fa fa-building"></i> Type</strong>
					<span>House</span>
				</li>

				<li>
					<strong><i class="fa fa-certificate"></i> Status</strong>
					<span>Rent</span>
				</li>

				<li>
					<strong><i class="fa fa-arrows-alt"></i> Area</strong>
					<span>180 sqft</span>
				</li>

				<li>
					<strong><i class="fa fa-umbrella"></i> Baths</strong>
					<span>3</span>
				</li>

				<li>
					<strong><i class="fa fa-bed"></i> Bedrooms</strong>
					<span>5</span>
				</li>
			</ul>
		</div>
	</div>
</div>

				<div class="listing-row">
	<div class="listing-row-inner">
		<div class="listing-row-image" style="background-image: url('assets/img/tmp/tmp-2.jpg');">
			<span class="listing-row-image-links">
				<a href="properties.html"><i class="fa fa-heart"></i> <span>Add to favorites</span></a>
				<a href="properties-detail-standard.html"><i class="fa fa-search"></i> <span>View detail</span></a>
				<a href="properties-compare.html"><i class="fa fa-balance-scale"></i> <span>Compare property</span></a>
			</span>
		</div>

		<div class="listing-row-content">
			<h3><a href="properties-detail-standard.html">Quiet Parade</a></h3>
			<h4>$ 256.000</h4>

			<ul class="listing-row-attributes">
				<li>
					<strong><i class="fa fa-map-marker"></i> City</strong>
					<span>New York</span>
				</li>

				<li>
					<strong><i class="fa fa-building"></i> Type</strong>
					<span>House</span>
				</li>

				<li>
					<strong><i class="fa fa-certificate"></i> Status</strong>
					<span>Rent</span>
				</li>

				<li>
					<strong><i class="fa fa-arrows-alt"></i> Area</strong>
					<span>180 sqft</span>
				</li>

				<li>
					<strong><i class="fa fa-umbrella"></i> Baths</strong>
					<span>3</span>
				</li>

				<li>
					<strong><i class="fa fa-bed"></i> Bedrooms</strong>
					<span>5</span>
				</li>
			</ul>
		</div>
	</div>
</div>


			<div class="center">
				<a href="#" class="btn btn-secondary">Load More Properties</a>
			</div>
		</div>

		<div class="col-sm-6">
			<div id="map-leaflet" class="full"></div>
		</div>
	</div>
</div>
	            </div>-->
	        <!--</div>
	    </div>-->
    </div>
</div>
