
<div class="page-wrapper">

    	<div class="header-wrapper" ng-include="'navbars/navbar-inner.html'"> </div><!-- /.header-wrapper-->


    <div class="main-wrapper">
      <div class='photo-banner'>
      </div>
	    <div class="main">

	        <div class="main-inner">





					<div class="content-title">
	<div class="content-title-inner">
		<div class="container">
			<h1>Submit Property</h1>

			<ol class="breadcrumb">
				<li><a href="index.html">Home</a></li>
				<li><a href="properties.html">Properties</a></li>
				<li class="active">Standard Detail</li>
			</ol>
		</div>
	</div>
</div>




				<div class="container">

				            <div class="content">
				            	<form method="post" action="?">
	<div class="page-header page-header-small">
		<h3>Basic Information</h3>
	</div>

	<div class="form-group">
		<label>Property Title</label>
		<input type="text" class="form-control" ng-model="title">
	</div>

	<div class="form-group">
		<label>Description</label>
		<textarea class="form-control" rows="6" ng-model="description"></textarea>
	</div>
  <div class="form-group">
		<label>Cost</label>
		<input class="form-control" rows="6" ng-model="cost">
	</div>

<!--
	<div class="page-header page-header-small">
		<h3>Payment Information</h3>
	</div>

	<div class="row">
		<div class="col-sm-4">
		    <div class="form-group">
		        <label>Package</label>

	            <select class="form-control">
	                <option value="">Bronze + $10</option>
	            </select>
		    </div>
	    </div>

		<div class="col-sm-4">
		    <div class="form-group">
		        <label>Payment Method</label>

		        <select class="form-control">
		            <option value="">Paypal</option>
		        </select>
		    </div>
	    </div>

	    <div class="col-sm-4">
		    <div class="form-group">
		        <label>Duration</label>

	            <select class="form-control">
	                <option value="">1 Year (Save 10%)</option>
	            </select>
		    </div>
	    </div>
	</div>-->

	<div class="page-header page-header-small">
		<h3>Location</h3>
	</div>

	<div class="row">
		<div class="col-sm-3">
			<div class="form-group">
				<label>Address</label>
				<input class="form-control" ng-model="address"></select>
			</div>
		</div>

		<div class="col-sm-3">
			<div class="form-group">
				<label>City</label>
				<input class="form-control" ng-model="city"></select>
			</div>
		</div>

		<div class="col-sm-3">
			<div class="form-group">
				<label>State</label>
				<input class="form-control" ng-model="state"></select>
			</div>
		</div>
    <div class="col-sm-3">
			<div class="form-group">
				<label>Zipcode</label>
				<input class="form-control" ng-model="zipcode">
			</div>
		</div>
	</div>
  <div class="form-group">
    <label>Distance From The Shoreline (Meters)</label>
    <input class="form-control" ng-model="beachDistance">
  </div>




</form>

<div class="page-header page-header-small">
  <h3>Upload Images</h3>
</div>

    <!--<form action="" class="dropzone" id='my-awesome-dropzone'>
      <div class="fallback">
        <input name="file" type="file" multiple />
      </div>
    </form>-->


      <form action="" class="dropzone" dropzone="" id="dropzone">
          <div class="dz-default dz-message">
            Upload Images Here
          </div>
      </form>





      <div class="page-header page-header-small">
    		<h3>Additional Information</h3>
    	</div>

    	<div class="checkbox">
    	    <label><input type="checkbox"> Send me newsletter</label>
    	</div>

    	<div class="checkbox">
    	    <label><input type="checkbox"> I agree with terms &amp; conditions</label>
    	</div>
</form>

<div class="center">
  <a class="btn btn-primary" ng-click="submitProperty()">Submit Property</a>
</div>
				            </div>

	            </div>
	        </div>
	    </div>
    </div>

    <div class="container">
    <div class="call-to-action">
	<div class="call-to-action-inner">
		<div class="call-to-action-title">
			<div class="logo logo-larger"></div>
			<h1>Get In Touch With Us</h1>
			<h2>Have a question? We'd love to hear from you.</h2>
		</div>

		<a href="#" class="btn btn-primary">Contact Us</a>
	</div>
</div>
</div>

<div class="footer-wrapper">
	<div class="container">
		<div class="footer-inner">
			<div class="footer-top">
				<div class="footer-top-left">
					<h2>BeachBroker.com</h2>

					<p>
						Villareal is advanced real estate application kit. Template implements specialized components which will help you in the developement of your website or application.
					</p>

					<div class="social">
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-linkedin"></i></a>
						<a href="#"><i class="fa fa-envelope"></i></a>
						<a href="#"><i class="fa fa-instagram"></i></a>
					</div>
				</div>

				<div class="footer-top-right">
					<h2>Subscribe To Newsletter</h2>

					<form method="post" action="?">
						<div class="input-group">
							<input type="email" class="form-control" placeholder="Your e-mail address">
							<span class="input-group-btn">
								<button class="btn btn-primary" type="submit">Subscribe</button>
							</span>
						</div>
					</form>

					<p>
						* We promise that we will not send you spam messages.
					</p>
				</div>
			</div>

			<div class="footer-bottom">
				<div class="footer-left">
					&copy; 2016 Created by Code Vision. All Rights reserved.
				</div>

				<div class="footer-right">
					<ul class="nav nav-pills">
						<li class="nav-item"><a href="pricing.html" class="nav-link">Pricing</a></li>
						<li class="nav-item"><a href="terms-conditions.html" class="nav-link">Terms &amp; Conditions</a></li>
						<li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
