
<div class="page-wrapper">

    <div class="header-wrapper" ng-include="'navbars/navbar-inner.html'"> </div><!-- /.header-wrapper-->

    <div class="main-wrapper">
	    <div class="main">
	        <div class="main-inner">

					<div class="content-title">
	<div class="content-title-inner">
		<div class="container">
			<h1>{{listingData['fullAddress']}}</h1>

			<!--<ol class="breadcrumb">
				<li><a href="index.html">Home</a></li>
				<li><a href="properties.html">Properties</a></li>
				<li class="active">Standard Detail</li>
			</ol>-->
      <div class='back-button'>Back To Search</div>
		</div><!-- /.container -->
	</div><!-- /.content-title-inner -->
</div><!-- /.content-title -->


	            <div class="content">
	                <div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="listing-detail-attributes">
    <div class="listing-detail-attribute">
        <div class="key">Assigned Agent</div>
        <div class="value">
            <div class="value-image">
                <a href="#" style="background-image: url('assets/img/tmp/agent-1.jpg');"></a>
            </div><!-- /.value-image -->

            {{userData['firstName']}} {{userData['lastName']}}
        </div>
    </div><!-- /.listing-detail-attribute -->

    <div class="listing-detail-attribute">
        <div class="key">Real Estate Agency</div>
        <div class="value">Villareal Real Estate </div>
    </div><!-- /.listing-detail-attribute -->

    <div class="listing-detail-attribute">
        <div class="key">Location</div>
        <div class="value">{{listingData['state'] | stateName}}</div>
    </div><!-- /.listing-detail-attribute -->

    <div class="listing-detail-attribute">
        <div class="key">Price</div>
        <div class="value">{{listingData['cost'] | currency:"$"}}</div>
    </div><!-- /.listing-detail-attribute -->
</div><!-- /.listing-detail-attributes -->
        </div><!-- /.col-sm-12 -->

        <div class="listing-detail col-md-8 col-lg-9" ng-cloak>
            <div class="gallery" >
              <div ng-repeat="x in listingPictures" class="gallery-item" style="background-image: url({{serverUrl}}{{imageUrl}}{{x['idListing']}}/{{x['filePath']}});">
              </div><!-- /.gallery-item -->


            </div><!-- /.gallery -->

<div class="row">
    <div class="col-lg-5">
        <div class="overview">
            <h2>Property Attributes</h2>

            <ul>
                <li><strong>Type</strong><span>{{listingData['homeType']}}</span></li>
                <li><strong>Price</strong><span>{{listingData['cost'] | currency:"$"}}</span></li>
                <li><strong>Location</strong><span>{{listingData['state']}}</span></li>

                <li><strong>Bedrooms</strong><span>{{listingData['beds']}}</span></li>
                <li><strong>Bathrooms</strong><span>{{listingData['baths']}}</span></li>
                <li><strong>Area</strong><span>{{listingData['sqft']}} sqft</span></li>
            </ul>
        </div><!-- /.overview -->
    </div><!-- /.col-* -->

    <div class="col-lg-7">
        <h2>Property Description</h2>

        <p>
          {{listingData['description']}}
        </p>

    </div><!-- /.col-* -->
</div><!-- /.row -->

            <h2>Amenities</h2>

<ul class="amenities">
    <li class="yes">Conditioning</li>
    <li class="no">Balcony</li>
    <li class="no">Bedding</li>
    <li class="no">Cable TV</li>
    <li class="no">Cleaning</li>
    <li class="no">Cofee pot</li>
    <li class="no">Computer</li>
    <li class="yes">Cot</li>
    <li class="no">Dishwasher</li>
    <li class="yes">DVD</li>
    <li class="no">Fan</li>
    <li class="yes">Fridge</li>
    <li class="no">Grill</li>
    <li class="yes">Hairdryer</li>
    <li class="no">Heating</li>
    <li class="yes">Hi-fi</li>
    <li class="no">Internet</li>
    <li class="yes">Iron</li>
    <li class="no">Juicer</li>
    <li class="yes">Lift</li>
    <li class="yes">Microwave</li>
    <li class="yes">Oven</li>
    <li class="no">Parking</li>
    <li class="no">Parquet</li>
    <li class="yes">Pool</li>
    <li class="yes">Radio</li>
    <li class="no">Roof terrace</li>
    <li class="no">Smoking</li>
    <li class="yes">Terrace</li>
    <li class="no">Toaster</li>
    <li class="no">Towelwes</li>
    <li class="no">Use of pool</li>
</ul>



        </div><!-- /.col-* -->

        <div class="col-md-4 col-lg-3">
            <div class="widget">
    <ul class="nav nav-stacked nav-style-primary">
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fa fa-share-alt"></i> Share Property
            </a>
        </li><!-- /.nav-item -->

        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fa fa-heart"></i> Add to Favorites
            </a>
        </li><!-- /.nav-item -->

        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fa fa-balance-scale"></i> Compare Property
            </a>
        </li><!-- /.nav-item -->

        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fa fa-envelope"></i> Send By E-mail
            </a>
        </li><!-- /.nav-item -->

        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fa fa-building"></i> View Agency Detail
            </a>
        </li><!-- /.nav-item -->

        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fa fa-calculator"></i> Calculator
            </a>
        </li><!-- /.nav-item -->

        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="fa fa-comment"></i> Write Review
            </a>
        </li><!-- /.nav-item -->

        <li class="nav-item">
            <a href="#" class="nav-link">
               <i class="fa fa-warning"></i> Report Abuse
            </a>
        </li><!-- /.nav-item -->
    </ul><!-- /.nav-style-primary -->
</div><!-- /.widget -->

            <div class="widget widget-background-white">
    <h3 class="widgettitle">Inquire Form</h3>

    <form method="post" action="?">
        <div class="form-group">
            <label>Full Name</label>
            <input type="text" class="form-control">
        </div><!-- /.form-group -->

        <div class="form-group">
            <label>E-mail</label>
            <input type="email" class="form-control">
        </div><!-- /.form-group -->

        <div class="form-group">
            <label>Subject</label>
            <input type="text" class="form-control">
        </div><!-- /.form-group -->

        <div class="form-group">
            <label>Message</label>
            <textarea class="form-control" rows="4"></textarea>
        </div><!-- /.form-group -->

        <div class="form-group-btn">
            <button type="submit" class="btn btn-primary btn-block">Send Message</button>
        </div><!-- /.form-group-btn -->
    </form>
</div><!-- /.widget -->

            <div class="widget">
    <h3 class="widgettitle">Assigned Agents</h3>


        <div class="listing-small">
	<div class="listing-small-inner">
		<div class="listing-small-image">
			<a href="agent-detail.html" style="background-image: url('assets/img/tmp/agent-1.jpg');">
			</a>
		</div><!-- /.listing-small-image -->

		<div class="listing-small-content">
			<h3><a href="agent-detail.html">Linda A. Libby</a></h3>
			<h4><a href="mailto:info@example.com">info@example.com</a></h4>
		</div><!-- /.listing-small-content -->
	</div><!-- /.listing-small-inner -->
</div><!-- /.listing-small -->

        <div class="listing-small">
	<div class="listing-small-inner">
		<div class="listing-small-image">
			<a href="agent-detail.html" style="background-image: url('assets/img/tmp/agent-2.jpg');">
			</a>
		</div><!-- /.listing-small-image -->

		<div class="listing-small-content">
			<h3><a href="agent-detail.html">Anita D. Smith</a></h3>
			<h4><a href="mailto:info@example.com">info@example.com</a></h4>
		</div><!-- /.listing-small-content -->
	</div><!-- /.listing-small-inner -->
</div><!-- /.listing-small -->

        <div class="listing-small">
	<div class="listing-small-inner">
		<div class="listing-small-image">
			<a href="agent-detail.html" style="background-image: url('assets/img/tmp/agent-3.jpg');">
			</a>
		</div><!-- /.listing-small-image -->

		<div class="listing-small-content">
			<h3><a href="agent-detail.html">Ida R. Lane</a></h3>
			<h4><a href="mailto:info@example.com">info@example.com</a></h4>
		</div><!-- /.listing-small-content -->
	</div><!-- /.listing-small-inner -->
</div><!-- /.listing-small -->

</div><!-- /.widget -->

            <div class="widget">
    <ul class="nav nav-pills nav-stacked nav-style-secondary">
        <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-download"></i> Download Footprints</a></li>
        <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-file-text"></i> PDF Version</a></li>
        <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-file"></i> Legal Document</a></li>
    </ul><!-- /.menu -->
</div><!-- /.widget -->
        </div><!-- /.col-* -->
    </div><!-- /.row -->
</div><!-- /.container -->
	            </div><!-- /.content -->
	        </div><!-- /.main-inner -->
	    </div><!-- /.main -->
    </div><!-- /.main-wrapper -->

    <div class="container">
    <div class="call-to-action">
	<div class="call-to-action-inner">
		<div class="call-to-action-title">
			<div class="logo-shape"></div><!-- /.logo-shape -->
			<h1>Real Estate Application Kit</h1>
			<h2>Interested in publishing your property on our website?</h2>
		</div><!-- /.call-to-action-title -->

		<a href="#" class="btn btn-primary">Contact Us</a>
	</div><!-- /.call-to-action-inner -->
</div><!-- /.call-to-action -->
</div>

<div class="footer-wrapper">
	<div class="container">
		<div class="footer-inner">
			<div class="footer-top">
				<div class="footer-top-left">
					<h2>Villareal Real Estate</h2>

					<p>
						Villareal is advanced real estate application kit. Template implements specialized components which will help you in the developement of your website or application.
					</p>

					<div class="social">
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-linkedin"></i></a>
						<a href="#"><i class="fa fa-envelope"></i></a>
						<a href="#"><i class="fa fa-instagram"></i></a>
					</div><!-- /.social -->
				</div><!-- /.footer-top-left -->

				<div class="footer-top-right">
					<h2>Subscribe To Newsletter</h2>

					<form method="post" action="?">
						<div class="input-group">
							<input type="email" class="form-control" placeholder="Your e-mail address">
							<span class="input-group-btn">
								<button class="btn btn-primary" type="submit">Subscribe</button>
							</span><!-- /.input-group-btn -->
						</div><!-- /.form-group -->
					</form>

					<p>
						* We promise that we will not send you spam messages.
					</p>
				</div><!-- /.footer-top-right -->
			</div><!-- /.footer-top -->

			<div class="footer-bottom">
				<div class="footer-left">
					&copy; 2016 Created by Code Vision. All Rights reserved.
				</div><!-- /.footer-left -->

				<div class="footer-right">
					<ul class="nav nav-pills">
						<li class="nav-item"><a href="pricing.html" class="nav-link">Pricing</a></li>
						<li class="nav-item"><a href="terms-conditions.html" class="nav-link">Terms &amp; Conditions</a></li>
						<li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
					</ul>
				</div><!-- /.footer-right -->
			</div><!-- /.footer-bottom -->
		</div><!-- /.footer-inner -->
	</div><!-- /.container -->
</div><!-- /.footer-wrapper -->
</div><!-- /.page-wrapper -->
